<launch> 
<node pkg="robotica_final" type="rhapsody_master.py" name="rhapsody_master"> 
</node> 

<node pkg="robotica_final" type="path_planner.py" name="path_planner"> 
</node> 

<node pkg="robotica_final" type="pos_estimation.py" name="pos_estimation"> 
</node> 

<node pkg="robotica_final" type="robot_toolkit.py" name="robot_toolkit"> 
</node> 

<node pkg="robotica_final" type="robot_control.py" name="robot_control"> 
</node> 

<node pkg="robotica_final" type="encod_reader.py" name="encod_reader"> 
</node> 

</launch>

